<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Customer</title>
</head>
<body>
    <h1>Edit Customer Details</h1>
    <form action="" method="POST">
        <label for="">NAME:</label>
        <input type="text" name="name" value="{{data.name}}" required id="">
        <label for="">AGE:</label>
        <input type="text" name="age" value="{{data.age}}" required id="">
        <label for="">GENDER:</label>
        <input type="text" name="gender" value="{{data.gender}}" required id="">
        <label for="">CITY:</label>
        <input type="text" name="city" value="{{data.city}}" required id="">
        <input type="submit" value="Update Details">
    </form>
</body>
</html>